<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194462976791-48hn8nn5nqlbc791aaep4956hg655cvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194462976791-48hn8nn5nqlbc791aaep4956hg655cvm</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhT984wkoAH4SdetdJLwYsnWQ5WnWCbE</string>
	<key>GCM_SENDER_ID</key>
	<string>194462976791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.musicTalks</string>
	<key>PROJECT_ID</key>
	<string>musictalks-af07c</string>
	<key>STORAGE_BUCKET</key>
	<string>musictalks-af07c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194462976791:ios:fdec52232a96a921590552</string>
</dict>
</plist>